<div class="container mt-4" dir="rtl">
  <div class="row justify-content-center">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item ml-2">
        <a class="nav-link active admin-text-color" role="tab" routerLink="addpicture" data-toggle="tab">הוספת תמונה</a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link" role="tab" routerLink="orderview" data-toggle="tab">צפיה בתמונות</a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link">ניהול תמונות</a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link">ניהול משתמשים</a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link">ניהול הזמנות</a>
      </li>
    </ul>
  </div>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
