<div class="container mt-4" dir="rtl">
  <ul class="nav nav-tabs">
    <li class="nav-item ml-2">
      <a class="nav-link active" href="#">הוספת תמונה</a>
    </li>
    <li class="nav-item ml-2">
      <a class="nav-link active" href="#">צפיה בתמונות</a>
    </li>
    <li class="nav-item ml-2">
      <a class="nav-link active" href="#">ניהול תמונות</a>
    </li>
    <li class="nav-item ml-2">
      <a class="nav-link active" href="#">ניהול משתמשים</a>
    </li>
    <li class="nav-item ml-2">
        <a class="nav-link active" href="#">צפיה בהזמנות</a>
      </li>
  </ul>
</div>
