.btn-facebook {
    background-color: #405D9D;
    color: #fff;
    margin: 0;
  }
  
  .btn-twitter {
    background-color: #42AEEC;
    color: #fff;
  }
  
  .line-for-reg {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
  } 
  
  .line-for-reg span { 
     background:#fff; 
     padding:0 10px; 
  }
  
  input.ng-invalid.ng-touched{
    border: 1px solid red;
  }

  input::placeholder{
    text-align: right;
  }