<div class="container">
  <h4 class="card-title mt-3 text-center">יצירת משתמש</h4>
  <div class="row justify-content-center" dir="rtl">
    <a href="" class="btn btn-block btn-twitter col-2 ml-1"> <i class="fab fa-twitter"></i>הרשמה עם Twitter</a>
    <a href="" class="btn btn-block btn-facebook col-2 mr-1"> <i class="fab fa-facebook-f"></i> הרשמה עם Facebook</a>
  </div>
  <h1> או </h1>
  <form class="row justify-content-center">
    <div class="col-2 input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
      </div>
      <input name="" class="form-control" placeholder="שם פרטי" type="text">
    </div> <!-- form-group// -->
    <div class="col-2 input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
      </div>
      <input name="" class="form-control" placeholder="שם משפחה" type="text">
    </div> <!-- form-group// -->

    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block"> הרשמה </button>
    </div> <!-- form-group// -->
    <p class="text-center">משתמש רשום? <a href="">כניסה</a> </p>
    
  </form>
</div>