<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" >
  <a class="navbar-brand text-right" dir="rtl" href="#">האתר של מיקי (לוגו)</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto" dir="rtl">
      <li class="nav-item active ml-auto">
        <a class="nav-link" routerLink="/home">בית </a>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link" href="#">גלריה</a>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link" href="#">אודות</a>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link" href="#">צור קשר</a>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link" routerLink="/registration">הרשמה לבדיקה</a>
      </li>
    </ul>
  </div>
</nav>
