<div class="border border-dark p-2">
  <img class="" src="#" alt="image name" />
    <h5 class="text-center"><u>מידע על היצירה</u></h5>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-3 text-right">שם היצירה:</div>
          <label class="col-1 text-right">{{ "שם" }}</label>
        </div>
        <div class="row">
          <div class="col-sm-3 text-right">מספר קטולוג:</div>
          <label class="col-sm-4 text-right">{{ "קטלוג" }}</label>
        </div>
        <div class="row">
          <div class="col-sm-3 text-right">קיים במלאי:</div>
          <label class="col-sm-4 text-right">{{ "כן או לא" }}</label>
        </div>
        <div class="row">
          <div class="col-sm-3 text-right">רחוב - x:</div>
          <label class="col-sm-3 text-right">{{ "רחוב איקס" }}</label>
        </div>
        <div class="row">
          <div class="col-sm-3 text-right">רחוב - y:</div>
          <label class="col-sm-3 text-right">{{ "רחוב ואי" }}</label>
        </div>
      </div>
      <div class="col">
        <div class="text-center">
          <label><u>תיאור היצירה:</u></label>
        </div>
        {{
          "data data data data data data data data data data data data data data data data data data"
        }}
      </div>
    </div>
    <a href="#" class="btn btn-primary">עריכה</a>
</div>
