<div class="row justify-content-center mb-2">
  <div class="col-4 title-color-background text-center">
    <h3>ניהול תמונות החנות</h3>
  </div>
</div>
<div class="row border border-dark p-2">
  <div class="col-md-4">
    <h3 class="my-3 text-center">תיאור היצירה</h3>
    <p class="text-right">
      {{ "מלל" }}
    </p>
    <h3 class="my-3 text-center">פרטי היצירה</h3>
    <ul class="text-right">
      <li>שם היצירה: {{ "שם" }}</li>
      <li>מספר קטולוג: {{ "מספר" }}</li>
      <li>מחיר: {{ "מחיר" }}</li>
      <li>קיים במלאי: {{ "קיים או לא" }}</li>
      <li>רחוב - X: {{ "מספר" }} ס״מ</li>
      <li>רחוב - Y: {{ "מספר" }} ס״מ</li>
    </ul>
  </div>

  <div class="col-md-8">
    <img class="img-fluid" src="" alt="" />
  </div>
</div>
